.topbar {
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 12vw;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #c4b79f;
    border-bottom: 1px solid #c4b79f;
    box-sizing: border-box;
    z-index: 998;
}

.text {
    font-weight: 'bold';
    font-size: large;
}
.iconSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #938771;
    border-radius: 0.2rem;
}